.header {
  border-bottom: 1px solid #ccc;
  a {
    padding: 10px;
    background-color: #ccc;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
    bottom: -1px
  }
  a.current {
    background-color: #eee;
    border: 1px solid #ccc;
    border-bottom: none;
    color: #f00;
  }
}
.operate {
  margin: 10px
}
.items {
  margin: 20px 10px;
}
.item {
  display: flex;
  flex-direction: row;
  width: 500px;
  padding: 10px 0 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
  input {
    margin-right: 10px;
    height: 22px;
    width: 22px;
  }
  .itemName {
    flex: 1;
    font-size: 18px;
    line-height: 22px;
  }
  .createTime {
    color: #999;
  }
  .itemOperator {
    width: 100px
  }
}